body{
    background-color: #00DFA2;
}

.header{
    background-color: #fff;
    height: 300px;

}

h1{
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
    color: green;
    position: relative;
    margin-left: 350px;
    margin-top: -150px;
    text-shadow: 3px 3px 3px gray;
}

.zoo{
    border-radius: 100%;
    width: 200px;
    position: relative;
    margin-left: 10px;
    margin-top: 40px;
}

.zoo:hover{
    filter: blur(2px);
}
.nav{
   cursor: pointer;
   position: relative;
   margin-left: 72rem;
   margin-right: 30px;
   justify-content: space-around;
}

a:link{
    color:#000;
    text-decoration: none;
    font-size: 1.2rem; 
}

a:link:hover{
    color: yellowgreen;
    text-decoration: underline;
}

a:visited {
    color: lightgreen;
    background-color: transparent;
    text-decoration: none;
  }


.home , .con ,.don,.ab{
    padding: 6px;
}

.title-img{
    margin-left: 35rem;
    width: 400px;

}

.title-text{
    text-align: center;
    margin-top: 6rem;
    font-size: 3rem;
    font-family: "Ubuntu";
    color: #fff;
}


.title-img:hover{
    content: url("images/peacock.jpg");
    width: 400px;
}

.title{
    padding-top: 2rem;
    background-color: #fff;
    height: 183rem;
    position: relative;
    margin-top: 20rem;
}

.animal{
    width: 250px;
    transition: transform .2s;
}
.animal:hover{
    transform: scale(2,2);
    
}

.kaziranga{
    padding-top: 1.5 rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
    color: yellowgreen;
}

.kaziranga h2{
    margin-top: 200px;
}

h2:hover{
    color: #98EECC;
}

.footer{
    position: relative;
    text-align: center;
    margin: 200px 0px 0px 0px;
    background-color: #fff;
    height: 150px;
}

.fa-brands{
    margin-top: 20px;
    color: #000;
    padding: 0px 15px;
     
}